button {
    border:0;
    background-color: rgba(47, 47, 207, 0.822);
    color: $clr4;
    padding: 0.6rem 1rem;
    margin: 5px;
    border-radius:5px;
    width: max-content;
    transition: background-color .3s;
    &:hover{
        background-color: rgba(47, 47, 207, 0.671);
    }
}

// form > * {
//     display: block;
//     width: 200px;
//     margin: 10px 0px;
// }